{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype"
  ],
  "plugins": [
    "flowtype",
    "prettier",
    "react"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-unresolved": [2, { "ignore": ["react", "@material-ui\/.*"] }]
  }
}
